{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    <p>
     If you live in a cold area, you have probably been wishing for the last several weeks that you could hop on a ship and sail off to the warm, beautiful white sandy beaches of the Caribbean Islands. Perhaps the cold, snow and ice have been so fierce, that you have actually begun to plan your vacation to the white sand beaches of the Caribbean, whether it is this year, or you are planning ahead for next winter. We believe the following couple of places are the most beautiful white sand beaches in the Caribbean, and should not be missed.
    </p>
      <ul> 
      {% for entry in entries %}
  <li>{{ entry.title }}, {{ entry.date }}, {{ entry.url}}</li>
{% endfor %}
     </ul>
    </div>
  </div>
</div>
{% endblock %}
